<a href="https://colab.research.google.com/github/varunkr24/Credit-Score-Modeling/blob/Python/Credit_Score_Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
path = "/content/drive/MyDrive/AIML/Projects/Default Loan/Train_Dataset.csv"

In [4]:
df = pd.read_csv(path)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,7,8,16,17,18,19,20,35) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [42]:
pd.set_option('display.max_columns', None)
df.head()

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,Client_Income_Type,Client_Education,Client_Marital_Status,Client_Gender,Loan_Contract_Type,Client_Housing_Type,Population_Region_Relative,Age_Days,Employed_Days,Registration_Days,ID_Days,Own_House_Age,Mobile_Tag,Homephone_Tag,Workphone_Working,Client_Occupation,Client_Family_Members,Cleint_City_Rating,Application_Process_Day,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
0,12142509,6750,0.0,0.0,1.0,0.0,0.0,61190.55,3416.85,Alone,Commercial,Secondary,M,Male,CL,Home,0.028663,13957,1062,6123,383,NaN,1,1,0,Sales,2.0,2.0,6.0,17.0,Yes,Yes,Self-employed,0.568066,0.478787,NaN,0.0186,63.0,NaN,0
1,12138936,20250,1.0,0.0,1.0,NaN,0.0,15282,1826.55,Alone,Service,Graduation,M,Male,CL,Home,0.008575,14162,4129,7833,21,0.0,1,0,1,NaN,2.0,2.0,3.0,10.0,Yes,Yes,Government,0.563360,0.215068,NaN,NaN,NaN,NaN,0
2,12181264,18000,0.0,0.0,1.0,0.0,1.0,59527.35,2788.2,Alone,Service,Graduation dropout,W,Male,CL,Family,0.0228,16790,5102,NaN,331,NaN,1,0,0,Realty agents,2.0,2.0,4.0,NaN,Yes,Yes,Self-employed,NaN,0.552795,0.329655,0.0742,277.0,0.0,0
3,12188929,15750,0.0,0.0,1.0,1.0,0.0,53870.4,2295.45,Alone,Retired,Secondary,M,Male,CL,Home,0.010556,23195,365243,NaN,775,NaN,1,0,0,NaN,2.0,3.0,2.0,15.0,Yes,Yes,XNA,NaN,0.135182,0.631355,NaN,1700.0,3.0,0
4,12133385,33750,1.0,0.0,1.0,0.0,2.0,133988.4,3547.35,Alone,Commercial,Secondary,M,Female,CL,Home,0.020713,11366,2977,5516,4043,6.0,1,0,0,Laborers,4.0,1.0,3.0,NaN,Yes,Yes,Business Entity Type 3,0.508199,0.301182,0.355639,0.2021,674.0,1.0,0

In [9]:
pd.set_option('display.max_columns', None)
print(round(df.describe().T,2))

                             count         mean       std          min  \
ID                        121856.0  12160928.50  35176.94  12100001.00
Car_Owned                 118275.0         0.34      0.47         0.00
Bike_Owned                118232.0         0.33      0.47         0.00
Active_Loan               118221.0         0.50      0.50         0.00
House_Own                 118195.0         0.69      0.46         0.00
Child_Count               118218.0         0.42      0.73         0.00
Own_House_Age              41761.0        12.16     12.06         0.00
Mobile_Tag                121856.0         1.00      0.00         0.00
Homephone_Tag             121856.0         0.20      0.40         0.00
Workphone_Working         121856.0         0.28      0.45         0.00
Client_Family_Members     119446.0         2.15      0.91         1.00
Cleint_City_Rating        119447.0         2.03      0.50         1.00
Application_Process_Day   119428.0         3.16      1.76         0.00
Application_Process_Hour  118193.0        12.06      3.28         0.00
Score_Source_1             53021.0         0.50      0.21         0.01
Score_Source_2            116170.0         0.52      0.74         0.00
Social_Circle_Default      59928.0         0.12      0.11         0.00
Phone_Change              118192.0       962.11    827.98         0.00
Credit_Bureau             103316.0         1.89      1.86         0.00
Default                   121856.0         0.08      0.27         0.00

                                  25%          50%          75%          max
ID                        12130464.75  12160928.50  12191392.25  12221856.00
Car_Owned                        0.00         0.00         1.00         1.00
Bike_Owned                       0.00         0.00         1.00         1.00
Active_Loan                      0.00         0.00         1.00         1.00
House_Own                        0.00         1.00         1.00         1.00
Child_Count                      0.00         0.00         1.00        19.00
Own_House_Age                    5.00         9.00        15.00        69.00
Mobile_Tag                       1.00         1.00         1.00         1.00
Homephone_Tag                    0.00         0.00         0.00         1.00
Workphone_Working                0.00         0.00         1.00         1.00
Client_Family_Members            2.00         2.00         3.00        16.00
Cleint_City_Rating               2.00         2.00         2.00         3.00
Application_Process_Day          2.00         3.00         5.00         6.00
Application_Process_Hour        10.00        12.00        14.00        23.00
Score_Source_1                   0.33         0.50         0.67         0.95
Score_Source_2                   0.39         0.56         0.66       100.00
Social_Circle_Default            0.06         0.09         0.15         1.00
Phone_Change                   272.00       755.00      1570.00      4185.00
Credit_Bureau                    0.00         1.00         3.00        22.00
Default                          0.00         0.00         0.00         1.00

In [11]:
df['Child_Count'].value_counts()

0.0     82834
1.0     23431
2.0     10294
3.0      1430
4.0       167
5.0        34
6.0        12
7.0         4
14.0        4
10.0        3
8.0         2
19.0        1
12.0        1
9.0         1
Name: Child_Count, dtype: int64

In [27]:
x= df['Child_Count'].isin([14,12,19])
df[x][['Child_Count','Age_Days']]

        Child_Count Age_Days
46753          19.0    11057
61373          12.0    13894
63234          14.0    20308
65841          14.0    20308
103913         14.0    17754
105331         14.0    17754

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121856 entries, 0 to 121855
Data columns (total 40 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   ID                          121856 non-null  int64
 1   Client_Income               118249 non-null  object
 2   Car_Owned                   118275 non-null  float64
 3   Bike_Owned                  118232 non-null  float64
 4   Active_Loan                 118221 non-null  float64
 5   House_Own                   118195 non-null  float64
 6   Child_Count                 118218 non-null  float64
 7   Credit_Amount               118224 non-null  object
 8   Loan_Annuity                117044 non-null  object
 9   Accompany_Client            120110 non-null  object
 10  Client_Income_Type          118155 non-null  object
 11  Client_Education            118211 non-null  object
 12  Client_Marital_Status       118383 non-null  object
 13  Client_Gender               119443 non-null  object
 14  Loan_Contract_Type          118205 non-null  object
 15  Client_Housing_Type         118169 non-null  object
 16  Population_Region_Relative  116999 non-null  object
 17  Age_Days                    118256 non-null  object
 18  Employed_Days               118207 non-null  object
 19  Registration_Days           118242 non-null  object
 20  ID_Days                     115888 non-null  object
 21  Own_House_Age               41761 non-null   float64
 22  Mobile_Tag                  121856 non-null  int64
 23  Homephone_Tag               121856 non-null  int64
 24  Workphone_Working           121856 non-null  int64
 25  Client_Occupation           80421 non-null   object
 26  Client_Family_Members       119446 non-null  float64
 27  Cleint_City_Rating          119447 non-null  float64
 28  Application_Process_Day     119428 non-null  float64
 29  Application_Process_Hour    118193 non-null  float64
 30  Client_Permanent_Match_Tag  121856 non-null  object
 31  Client_Contact_Work_Tag     121856 non-null  object
 32  Type_Organization           118247 non-null  object
 33  Score_Source_1              53021 non-null   float64
 34  Score_Source_2              116170 non-null  float64
 35  Score_Source_3              94935 non-null   object
 36  Social_Circle_Default       59928 non-null   float64
 37  Phone_Change                118192 non-null  float64
 38  Credit_Bureau               103316 non-null  float64
 39  Default                     121856 non-null  int64
dtypes: float64(15), int64(5), object(20)
memory usage: 37.2+ MB

In [35]:
import pandas.core.algorithms as algos
from pandas import Series
import scipy.stats.stats as stats
import re
import traceback
import string

In [38]:
max_bin = 20
force_bin = 3

def mono_bin(Y, X, n = max_bin):
    
    df1 = pd.DataFrame({"X": X, "Y": Y})
    justmiss = df1[['X','Y']][df1.X.isnull()]
    notmiss = df1[['X','Y']][df1.X.notnull()]
    r = 0
    while np.abs(r) < 1:
        try:
            d1 = pd.DataFrame({"X": notmiss.X, "Y": notmiss.Y, "Bucket": pd.qcut(notmiss.X, n)})
            d2 = d1.groupby('Bucket', as_index=True)
            r, p = stats.spearmanr(d2.mean().X, d2.mean().Y)
            n = n - 1 
        except Exception as e:
            n = n - 1

    if len(d2) == 1:
        n = force_bin         
        bins = algos.quantile(notmiss.X, np.linspace(0, 1, n))
        if len(np.unique(bins)) == 2:
            bins = np.insert(bins, 0, 1)
            bins[1] = bins[1]-(bins[1]/2)
        d1 = pd.DataFrame({"X": notmiss.X, "Y": notmiss.Y, "Bucket": pd.cut(notmiss.X, np.unique(bins),include_lowest=True)}) 
        d2 = d1.groupby('Bucket', as_index=True)
    
    d3 = pd.DataFrame({},index=[])
    d3["MIN_VALUE"] = d2.min().X
    d3["MAX_VALUE"] = d2.max().X
    d3["COUNT"] = d2.count().Y
    d3["EVENT"] = d2.sum().Y
    d3["NONEVENT"] = d2.count().Y - d2.sum().Y
    d3=d3.reset_index(drop=True)
    
    if len(justmiss.index) > 0:
        d4 = pd.DataFrame({'MIN_VALUE':np.nan},index=[0])
        d4["MAX_VALUE"] = np.nan
        d4["COUNT"] = justmiss.count().Y
        d4["EVENT"] = justmiss.sum().Y
        d4["NONEVENT"] = justmiss.count().Y - justmiss.sum().Y
        d3 = d3.append(d4,ignore_index=True)
    
    d3["EVENT_RATE"] = d3.EVENT/d3.COUNT
    d3["NON_EVENT_RATE"] = d3.NONEVENT/d3.COUNT
    d3["DIST_EVENT"] = d3.EVENT/d3.sum().EVENT
    d3["DIST_NON_EVENT"] = d3.NONEVENT/d3.sum().NONEVENT
    d3["WOE"] = np.log(d3.DIST_EVENT/(d3.DIST_NON_EVENT+0.000001))
    d3["IV"] = (d3.DIST_EVENT-d3.DIST_NON_EVENT)*np.log(d3.DIST_EVENT/(d3.DIST_NON_EVENT+0.000001))
    d3["VAR_NAME"] = "VAR"
    d3 = d3[['VAR_NAME','MIN_VALUE', 'MAX_VALUE', 'COUNT', 'EVENT', 'EVENT_RATE', 'NONEVENT', 'NON_EVENT_RATE', 'DIST_EVENT','DIST_NON_EVENT','WOE', 'IV']]       
    d3 = d3.replace([np.inf, -np.inf], 0)
    d3.IV = d3.IV.sum()
    
    return(d3)

def char_bin(Y, X):
        
    df1 = pd.DataFrame({"X": X, "Y": Y})
    justmiss = df1[['X','Y']][df1.X.isnull()]
    notmiss = df1[['X','Y']][df1.X.notnull()]    
    df2 = notmiss.groupby('X',as_index=True)
    
    d3 = pd.DataFrame({},index=[])
    d3["COUNT"] = df2.count().Y
    d3["MIN_VALUE"] = df2.sum().Y.index
    d3["MAX_VALUE"] = d3["MIN_VALUE"]
    d3["EVENT"] = df2.sum().Y
    d3["NONEVENT"] = df2.count().Y - df2.sum().Y
    
    if len(justmiss.index) > 0:
        d4 = pd.DataFrame({'MIN_VALUE':np.nan},index=[0])
        d4["MAX_VALUE"] = np.nan
        d4["COUNT"] = justmiss.count().Y
        d4["EVENT"] = justmiss.sum().Y
        d4["NONEVENT"] = justmiss.count().Y - justmiss.sum().Y
        d3 = d3.append(d4,ignore_index=True)
    
    d3["EVENT_RATE"] = d3.EVENT/d3.COUNT
    d3["NON_EVENT_RATE"] = d3.NONEVENT/d3.COUNT
    d3["DIST_EVENT"] = d3.EVENT/d3.sum().EVENT
    d3["DIST_NON_EVENT"] = d3.NONEVENT/d3.sum().NONEVENT
    d3["WOE"] = np.log(d3.DIST_EVENT/(d3.DIST_NON_EVENT+0.000001))
    d3["IV"] = (d3.DIST_EVENT-d3.DIST_NON_EVENT)*np.log(d3.DIST_EVENT/(d3.DIST_NON_EVENT+0.000001))
    d3["VAR_NAME"] = "VAR"
    d3 = d3[['VAR_NAME','MIN_VALUE', 'MAX_VALUE', 'COUNT', 'EVENT', 'EVENT_RATE', 'NONEVENT', 'NON_EVENT_RATE', 'DIST_EVENT','DIST_NON_EVENT','WOE', 'IV']]      
    d3 = d3.replace([np.inf, -np.inf], 0)
    d3.IV = d3.IV.sum()
    d3 = d3.reset_index(drop=True)
    
    return(d3)

def data_vars(df1, target):
    
    stack = traceback.extract_stack()
    filename, lineno, function_name, code = stack[-2]
    vars_name = re.compile(r'\((.*?)\).*$').search(code).groups()[0]
    final = (re.findall(r"[\w']+", vars_name))[-1]
    
    x = df1.dtypes.index
    count = -1
    
    for i in x:
        if i.upper() not in (final.upper()):
            if np.issubdtype(df1[i], np.number) and len(Series.unique(df1[i])) > 2:
                conv = mono_bin(target, df1[i])
                conv["VAR_NAME"] = i
                count = count + 1
            else:
                conv = char_bin(target, df1[i])
                conv["VAR_NAME"] = i            
                count = count + 1
                
            if count == 0:
                iv_df = conv
            else:
                iv_df = iv_df.append(conv,ignore_index=True)
    
    iv = pd.DataFrame({'IV':iv_df.groupby('VAR_NAME').IV.max()})
    iv = iv.reset_index()
    return(iv_df,iv)

In [39]:
final_iv, IV = data_vars(df,df.Default)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [40]:
final_iv

,VAR_NAME,MIN_VALUE,MAX_VALUE,COUNT,EVENT,EVENT_RATE,NONEVENT,NON_EVENT_RATE,DIST_EVENT,DIST_NON_EVENT,WOE,IV
0,ID,12100001,12160928,60928,4954.0,0.081309,55974.0,0.918691,0.503200,0.499719,0.006939,0.000048
1,ID,12160929,12221856,60928,4891.0,0.080275,56037.0,0.919725,0.496800,0.500281,-0.006984,0.000048
2,Client_Income,2565,2565,1,0.0,0.000000,1.0,1.000000,0.000000,0.000009,0.000000,0.073725
3,Client_Income,2646,2646,1,0.0,0.000000,1.0,1.000000,0.000000,0.000009,0.000000,0.073725
4,Client_Income,2700,2700,4,0.0,0.000000,4.0,1.000000,0.000000,0.000036,0.000000,0.073725
...,...,...,...,...,...,...,...,...,...,...,...,...
91533,Phone_Change,1571,4185,29545,1759.0,0.059536,27786.0,0.940464,0.178669,0.248065,-0.328157,0.041018
91534,Phone_Change,NaN,NaN,3664,322.0,0.087882,3342.0,0.912118,0.032707,0.029836,0.091827,0.041018
91535,Credit_Bureau,0,1,52575,3842.0,0.073077,48733.0,0.926923,0.390249,0.435073,-0.108732,0.012893
91536,Credit_Bureau,2,22,50741,4178.0,0.082340,46563.0,0.917660,0.424378,0.415700,0.020657,0.012893
91537,Credit_Bureau,NaN,NaN,18540,1825.0,0.098436,16715.0,0.901564,0.185373,0.149226,0.216900,0.012893

In [50]:
IV[IV['IV'] > 0.002 ].sort_values('IV')

                      VAR_NAME        IV
0             Accompany_Client  0.002158
11       Client_Family_Members  0.004283
4     Application_Process_Hour  0.005159
22               Homephone_Tag  0.005996
38           Workphone_Working  0.009267
16       Client_Marital_Status  0.009435
9      Client_Contact_Work_Tag  0.009880
27          Loan_Contract_Type  0.011351
20               Credit_Bureau  0.012893
13         Client_Housing_Type  0.014192
18  Client_Permanent_Match_Tag  0.020502
29               Own_House_Age  0.022970
8           Cleint_City_Rating  0.029681
12               Client_Gender  0.033409
36       Social_Circle_Default  0.035425
30                Phone_Change  0.041018
15          Client_Income_Type  0.049365
10            Client_Education  0.061659
14               Client_Income  0.073725
17           Client_Occupation  0.076717
37           Type_Organization  0.077374
31  Population_Region_Relative  0.083004
33              Score_Source_1  0.142381
34              Score_Source_2  0.291719
35              Score_Source_3  0.444426
19               Credit_Amount  0.466594
25                     ID_Days  0.551270
21               Employed_Days  0.626704
32           Registration_Days  0.849662
26                Loan_Annuity  0.893608
2                     Age_Days  1.039565

In [51]:
transform_vars_list = df.columns.difference(['Default'])
transform_prefix = 'new_'
transform_vars_list

Index(['Accompany_Client', 'Active_Loan', 'Age_Days',
       'Application_Process_Day', 'Application_Process_Hour', 'Bike_Owned',
       'Car_Owned', 'Child_Count', 'Cleint_City_Rating',
       'Client_Contact_Work_Tag', 'Client_Education', 'Client_Family_Members',
       'Client_Gender', 'Client_Housing_Type', 'Client_Income',
       'Client_Income_Type', 'Client_Marital_Status', 'Client_Occupation',
       'Client_Permanent_Match_Tag', 'Credit_Amount', 'Credit_Bureau',
       'Employed_Days', 'Homephone_Tag', 'House_Own', 'ID', 'ID_Days',
       'Loan_Annuity', 'Loan_Contract_Type', 'Mobile_Tag', 'Own_House_Age',
       'Phone_Change', 'Population_Region_Relative', 'Registration_Days',
       'Score_Source_1', 'Score_Source_2', 'Score_Source_3',
       'Social_Circle_Default', 'Type_Organization', 'Workphone_Working'],
      dtype='object')

In [52]:
for var in transform_vars_list:
    small_df = final_iv[final_iv['VAR_NAME'] == var]
    transform_dict = dict(zip(small_df.MAX_VALUE,small_df.WOE))
    replace_cmd = ''
    replace_cmd1 = ''
    for i in sorted(transform_dict.items()):
        replace_cmd = replace_cmd + str(i[1]) + str(' if x <= ') + str(i[0]) + ' else '
        replace_cmd1 = replace_cmd1 + str(i[1]) + str(' if x == "') + str(i[0]) + '" else '
    replace_cmd = replace_cmd + '0'
    replace_cmd1 = replace_cmd1 + '0'
    if replace_cmd != '0':
        try:
            df[transform_prefix + var] = df[var].apply(lambda x: eval(replace_cmd))
        except:
            df[transform_prefix + var] = df[var].apply(lambda x: eval(replace_cmd1))

TypeError: ignored