<a href="https://colab.research.google.com/github/varunkr24/Credit-Score-Modeling/blob/Python/Credit_Score_Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = "/content/drive/MyDrive/AIML/Projects/Default Loan/Train_Dataset.csv"

In [4]:
df = pd.read_csv(path)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,7,8,16,17,18,19,20,35) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
pd.set_option('display.max_columns', None)
df.head()

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,Client_Income_Type,Client_Education,Client_Marital_Status,Client_Gender,Loan_Contract_Type,Client_Housing_Type,Population_Region_Relative,Age_Days,Employed_Days,Registration_Days,ID_Days,Own_House_Age,Mobile_Tag,Homephone_Tag,Workphone_Working,Client_Occupation,Client_Family_Members,Cleint_City_Rating,Application_Process_Day,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
0,12142509,6750,0.0,0.0,1.0,0.0,0.0,61190.55,3416.85,Alone,Commercial,Secondary,M,Male,CL,Home,0.028663,13957,1062,6123,383,NaN,1,1,0,Sales,2.0,2.0,6.0,17.0,Yes,Yes,Self-employed,0.568066,0.478787,NaN,0.0186,63.0,NaN,0
1,12138936,20250,1.0,0.0,1.0,NaN,0.0,15282,1826.55,Alone,Service,Graduation,M,Male,CL,Home,0.008575,14162,4129,7833,21,0.0,1,0,1,NaN,2.0,2.0,3.0,10.0,Yes,Yes,Government,0.563360,0.215068,NaN,NaN,NaN,NaN,0
2,12181264,18000,0.0,0.0,1.0,0.0,1.0,59527.35,2788.2,Alone,Service,Graduation dropout,W,Male,CL,Family,0.0228,16790,5102,NaN,331,NaN,1,0,0,Realty agents,2.0,2.0,4.0,NaN,Yes,Yes,Self-employed,NaN,0.552795,0.329655,0.0742,277.0,0.0,0
3,12188929,15750,0.0,0.0,1.0,1.0,0.0,53870.4,2295.45,Alone,Retired,Secondary,M,Male,CL,Home,0.010556,23195,365243,NaN,775,NaN,1,0,0,NaN,2.0,3.0,2.0,15.0,Yes,Yes,XNA,NaN,0.135182,0.631355,NaN,1700.0,3.0,0
4,12133385,33750,1.0,0.0,1.0,0.0,2.0,133988.4,3547.35,Alone,Commercial,Secondary,M,Female,CL,Home,0.020713,11366,2977,5516,4043,6.0,1,0,0,Laborers,4.0,1.0,3.0,NaN,Yes,Yes,Business Entity Type 3,0.508199,0.301182,0.355639,0.2021,674.0,1.0,0

In [6]:
pd.set_option('display.max_columns', None)
print(round(df.describe().T,2))

                             count         mean       std          min  \
ID                        121856.0  12160928.50  35176.94  12100001.00
Car_Owned                 118275.0         0.34      0.47         0.00
Bike_Owned                118232.0         0.33      0.47         0.00
Active_Loan               118221.0         0.50      0.50         0.00
House_Own                 118195.0         0.69      0.46         0.00
Child_Count               118218.0         0.42      0.73         0.00
Own_House_Age              41761.0        12.16     12.06         0.00
Mobile_Tag                121856.0         1.00      0.00         0.00
Homephone_Tag             121856.0         0.20      0.40         0.00
Workphone_Working         121856.0         0.28      0.45         0.00
Client_Family_Members     119446.0         2.15      0.91         1.00
Cleint_City_Rating        119447.0         2.03      0.50         1.00
Application_Process_Day   119428.0         3.16      1.76         0.00
Application_Process_Hour  118193.0        12.06      3.28         0.00
Score_Source_1             53021.0         0.50      0.21         0.01
Score_Source_2            116170.0         0.52      0.74         0.00
Social_Circle_Default      59928.0         0.12      0.11         0.00
Phone_Change              118192.0       962.11    827.98         0.00
Credit_Bureau             103316.0         1.89      1.86         0.00
Default                   121856.0         0.08      0.27         0.00

                                  25%          50%          75%          max
ID                        12130464.75  12160928.50  12191392.25  12221856.00
Car_Owned                        0.00         0.00         1.00         1.00
Bike_Owned                       0.00         0.00         1.00         1.00
Active_Loan                      0.00         0.00         1.00         1.00
House_Own                        0.00         1.00         1.00         1.00
Child_Count                      0.00         0.00         1.00        19.00
Own_House_Age                    5.00         9.00        15.00        69.00
Mobile_Tag                       1.00         1.00         1.00         1.00
Homephone_Tag                    0.00         0.00         0.00         1.00
Workphone_Working                0.00         0.00         1.00         1.00
Client_Family_Members            2.00         2.00         3.00        16.00
Cleint_City_Rating               2.00         2.00         2.00         3.00
Application_Process_Day          2.00         3.00         5.00         6.00
Application_Process_Hour        10.00        12.00        14.00        23.00
Score_Source_1                   0.33         0.50         0.67         0.95
Score_Source_2                   0.39         0.56         0.66       100.00
Social_Circle_Default            0.06         0.09         0.15         1.00
Phone_Change                   272.00       755.00      1570.00      4185.00
Credit_Bureau                    0.00         1.00         3.00        22.00
Default                          0.00         0.00         0.00         1.00

In [7]:
df['Child_Count'].value_counts()

0.0     82834
1.0     23431
2.0     10294
3.0      1430
4.0       167
5.0        34
6.0        12
7.0         4
14.0        4
10.0        3
8.0         2
19.0        1
12.0        1
9.0         1
Name: Child_Count, dtype: int64

In [8]:
x= df['Child_Count'].isin([14,12,19])
df[x][['Child_Count','Age_Days']]

        Child_Count Age_Days
46753          19.0    11057
61373          12.0    13894
63234          14.0    20308
65841          14.0    20308
103913         14.0    17754
105331         14.0    17754

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121856 entries, 0 to 121855
Data columns (total 40 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   ID                          121856 non-null  int64
 1   Client_Income               118249 non-null  object
 2   Car_Owned                   118275 non-null  float64
 3   Bike_Owned                  118232 non-null  float64
 4   Active_Loan                 118221 non-null  float64
 5   House_Own                   118195 non-null  float64
 6   Child_Count                 118218 non-null  float64
 7   Credit_Amount               118224 non-null  object
 8   Loan_Annuity                117044 non-null  object
 9   Accompany_Client            120110 non-null  object
 10  Client_Income_Type          118155 non-null  object
 11  Client_Education            118211 non-null  object
 12  Client_Marital_Status       118383 non-null  object
 13  Client_Gender               119443 non-null  object
 14  Loan_Contract_Type          118205 non-null  object
 15  Client_Housing_Type         118169 non-null  object
 16  Population_Region_Relative  116999 non-null  object
 17  Age_Days                    118256 non-null  object
 18  Employed_Days               118207 non-null  object
 19  Registration_Days           118242 non-null  object
 20  ID_Days                     115888 non-null  object
 21  Own_House_Age               41761 non-null   float64
 22  Mobile_Tag                  121856 non-null  int64
 23  Homephone_Tag               121856 non-null  int64
 24  Workphone_Working           121856 non-null  int64
 25  Client_Occupation           80421 non-null   object
 26  Client_Family_Members       119446 non-null  float64
 27  Cleint_City_Rating          119447 non-null  float64
 28  Application_Process_Day     119428 non-null  float64
 29  Application_Process_Hour    118193 non-null  float64
 30  Client_Permanent_Match_Tag  121856 non-null  object
 31  Client_Contact_Work_Tag     121856 non-null  object
 32  Type_Organization           118247 non-null  object
 33  Score_Source_1              53021 non-null   float64
 34  Score_Source_2              116170 non-null  float64
 35  Score_Source_3              94935 non-null   object
 36  Social_Circle_Default       59928 non-null   float64
 37  Phone_Change                118192 non-null  float64
 38  Credit_Bureau               103316 non-null  float64
 39  Default                     121856 non-null  int64
dtypes: float64(15), int64(5), object(20)
memory usage: 37.2+ MB

In [32]:
!pip install woe

Collecting woe
  Downloading https://files.pythonhosted.org/packages/f5/32/ba4d592dfef45338ee04ca90c37b4f3aa345bdeafcad4dcbf654ad0b14c2/woe-0.1.4-py3-none-any.whl
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.7/dist-packages (from woe) (1.19.5)
Requirement already satisfied: matplotlib>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from woe) (3.2.2)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.7/dist-packages (from woe) (1.4.1)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.7/dist-packages (from woe) (1.1.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->woe) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->woe) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->woe) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->woe) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->woe) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib>=2.0.0->woe) (1.15.0)
Installing collected packages: woe
Successfully installed woe-0.1.4

In [ ]:
import woe.feature_process as fp
import woe.eval as eval
import copy

In [43]:
#%%woe binning, iv and transform
#data_woe=data #woe value used to store all data
data = copy.deepcopy(df)
data_woe = copy.deepcopy(df)
civ_list=[]
n_positive=sum (data['Default'])
n_negtive=len(data)-n_positive
for column in list(data.columns[1:]):
  if data[column].dtypes == 'object':
    civ=fp.proc_woe_discrete(data, column, n_positive, n_negtive, 0.05*len(data), alpha=0.05)
  else:
    civ=fp.proc_woe_continuous(data, column, n_positive, n_negtive, 0.05*len(data), alpha=0.05)
    civ_list.append(civ)
    data_woe[column]=fp.woe_trans(data[column], civ)
civ_df=eval.eval_feature_detail(civ_list, "output_feature_detail_0315.csv")
#Delete the iv value is too small
#iv_thre=0.002
iv=civ_df[["var_name", "iv"]].drop_duplicates()
x_columns=iv.var_name[(iv.iv<0.51)&(iv.iv>0.002)]

In [39]:
proc_woe_discrete (df, var, global_bt, global_gt, min_sample, alpha=0.01)
proc_woe_continuous (df, var, global_bt, global_gt, min_sample, alpha=0.01)

(9845, 112011)

df:dataframe, to calculate woe's data, it must contain the "target" variable, and the value of the variable is {0, 1}

var:variable name to calculate woe

global_bt:The global variable bad total. Number of positive samples of df

global_gt:global variable good total. Number of negative samples for df

min_sample:specify the minimum sample size in each bin,Generally set to 5%of the total sample.

alpha:a standard used to automatically calculate binning,The default is 0.01. If iv_division>iv_ does not divide * (1 + alpha) then divide.