<a href="https://colab.research.google.com/github/varunkr24/Credit-Score-Modeling/blob/Python/Credit_Score_Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = "/content/drive/MyDrive/AIML/Projects/Default Loan/Train_Dataset.csv"

In [4]:
df = pd.read_csv(path)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,7,8,16,17,18,19,20,35) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
pd.set_option('display.max_columns', None)
df.head()

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,Client_Income_Type,Client_Education,Client_Marital_Status,Client_Gender,Loan_Contract_Type,Client_Housing_Type,Population_Region_Relative,Age_Days,Employed_Days,Registration_Days,ID_Days,Own_House_Age,Mobile_Tag,Homephone_Tag,Workphone_Working,Client_Occupation,Client_Family_Members,Cleint_City_Rating,Application_Process_Day,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
0,12142509,6750,0.0,0.0,1.0,0.0,0.0,61190.55,3416.85,Alone,Commercial,Secondary,M,Male,CL,Home,0.028663,13957,1062,6123,383,NaN,1,1,0,Sales,2.0,2.0,6.0,17.0,Yes,Yes,Self-employed,0.568066,0.478787,NaN,0.0186,63.0,NaN,0
1,12138936,20250,1.0,0.0,1.0,NaN,0.0,15282,1826.55,Alone,Service,Graduation,M,Male,CL,Home,0.008575,14162,4129,7833,21,0.0,1,0,1,NaN,2.0,2.0,3.0,10.0,Yes,Yes,Government,0.563360,0.215068,NaN,NaN,NaN,NaN,0
2,12181264,18000,0.0,0.0,1.0,0.0,1.0,59527.35,2788.2,Alone,Service,Graduation dropout,W,Male,CL,Family,0.0228,16790,5102,NaN,331,NaN,1,0,0,Realty agents,2.0,2.0,4.0,NaN,Yes,Yes,Self-employed,NaN,0.552795,0.329655,0.0742,277.0,0.0,0
3,12188929,15750,0.0,0.0,1.0,1.0,0.0,53870.4,2295.45,Alone,Retired,Secondary,M,Male,CL,Home,0.010556,23195,365243,NaN,775,NaN,1,0,0,NaN,2.0,3.0,2.0,15.0,Yes,Yes,XNA,NaN,0.135182,0.631355,NaN,1700.0,3.0,0
4,12133385,33750,1.0,0.0,1.0,0.0,2.0,133988.4,3547.35,Alone,Commercial,Secondary,M,Female,CL,Home,0.020713,11366,2977,5516,4043,6.0,1,0,0,Laborers,4.0,1.0,3.0,NaN,Yes,Yes,Business Entity Type 3,0.508199,0.301182,0.355639,0.2021,674.0,1.0,0

In [6]:
pd.set_option('display.max_columns', None)
round(df.describe().T,2)

,count,mean,std,min,25%,50%,75%,max
ID,121856.0,12160928.50,35176.94,12100001.00,12130464.75,12160928.50,12191392.25,12221856.00
Car_Owned,118275.0,0.34,0.47,0.00,0.00,0.00,1.00,1.00
Bike_Owned,118232.0,0.33,0.47,0.00,0.00,0.00,1.00,1.00
Active_Loan,118221.0,0.50,0.50,0.00,0.00,0.00,1.00,1.00
House_Own,118195.0,0.69,0.46,0.00,0.00,1.00,1.00,1.00
Child_Count,118218.0,0.42,0.73,0.00,0.00,0.00,1.00,19.00
Own_House_Age,41761.0,12.16,12.06,0.00,5.00,9.00,15.00,69.00
Mobile_Tag,121856.0,1.00,0.00,0.00,1.00,1.00,1.00,1.00
Homephone_Tag,121856.0,0.20,0.40,0.00,0.00,0.00,0.00,1.00
Workphone_Working,121856.0,0.28,0.45,0.00,0.00,0.00,1.00,1.00
Client_Family_Members,119446.0,2.15,0.91,1.00,2.00,2.00,3.00,16.00
Cleint_City_Rating,119447.0,2.03,0.50,1.00,2.00,2.00,2.00,3.00
Application_Process_Day,119428.0,3.16,1.76,0.00,2.00,3.00,5.00,6.00
Application_Process_Hour,118193.0,12.06,3.28,0.00,10.00,12.00,14.00,23.00
Score_Source_1,53021.0,0.50,0.21,0.01,0.33,0.50,0.67,0.95
Score_Source_2,116170.0,0.52,0.74,0.00,0.39,0.56,0.66,100.00
Social_Circle_Default,59928.0,0.12,0.11,0.00,0.06,0.09,0.15,1.00
Phone_Change,118192.0,962.11,827.98,0.00,272.00,755.00,1570.00,4185.00
Credit_Bureau,103316.0,1.89,1.86,0.00,0.00,1.00,3.00,22.00
Default,121856.0,0.08,0.27,0.00,0.00,0.00,0.00,1.00

In [7]:
df['Child_Count'].value_counts()

0.0     82834
1.0     23431
2.0     10294
3.0      1430
4.0       167
5.0        34
6.0        12
7.0         4
14.0        4
10.0        3
8.0         2
19.0        1
12.0        1
9.0         1
Name: Child_Count, dtype: int64

In [8]:
x= df['Child_Count'].isin([14,12,19])
df[x][['Child_Count','Age_Days']]

        Child_Count Age_Days
46753          19.0    11057
61373          12.0    13894
63234          14.0    20308
65841          14.0    20308
103913         14.0    17754
105331         14.0    17754

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121856 entries, 0 to 121855
Data columns (total 40 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   ID                          121856 non-null  int64
 1   Client_Income               118249 non-null  object
 2   Car_Owned                   118275 non-null  float64
 3   Bike_Owned                  118232 non-null  float64
 4   Active_Loan                 118221 non-null  float64
 5   House_Own                   118195 non-null  float64
 6   Child_Count                 118218 non-null  float64
 7   Credit_Amount               118224 non-null  object
 8   Loan_Annuity                117044 non-null  object
 9   Accompany_Client            120110 non-null  object
 10  Client_Income_Type          118155 non-null  object
 11  Client_Education            118211 non-null  object
 12  Client_Marital_Status       118383 non-null  object
 13  Client_Gender               119443 non-null  object
 14  Loan_Contract_Type          118205 non-null  object
 15  Client_Housing_Type         118169 non-null  object
 16  Population_Region_Relative  116999 non-null  object
 17  Age_Days                    118256 non-null  object
 18  Employed_Days               118207 non-null  object
 19  Registration_Days           118242 non-null  object
 20  ID_Days                     115888 non-null  object
 21  Own_House_Age               41761 non-null   float64
 22  Mobile_Tag                  121856 non-null  int64
 23  Homephone_Tag               121856 non-null  int64
 24  Workphone_Working           121856 non-null  int64
 25  Client_Occupation           80421 non-null   object
 26  Client_Family_Members       119446 non-null  float64
 27  Cleint_City_Rating          119447 non-null  float64
 28  Application_Process_Day     119428 non-null  float64
 29  Application_Process_Hour    118193 non-null  float64
 30  Client_Permanent_Match_Tag  121856 non-null  object
 31  Client_Contact_Work_Tag     121856 non-null  object
 32  Type_Organization           118247 non-null  object
 33  Score_Source_1              53021 non-null   float64
 34  Score_Source_2              116170 non-null  float64
 35  Score_Source_3              94935 non-null   object
 36  Social_Circle_Default       59928 non-null   float64
 37  Phone_Change                118192 non-null  float64
 38  Credit_Bureau               103316 non-null  float64
 39  Default                     121856 non-null  int64
dtypes: float64(15), int64(5), object(20)
memory usage: 37.2+ MB

In [5]:
df.Client_Income = df.Client_Income.replace('$',np.nan)
df.Client_Income = df.Client_Income.astype('float64')

In [6]:
df.Credit_Amount = df.Credit_Amount.replace('$',np.nan)
df.Credit_Amount = df.Credit_Amount.astype('float64')

In [12]:
#df.Age_Days = df.Age_Days.astype('float64')
#df[df.Age_Days=='x']
df.Age_Days = df.Age_Days.replace('x',np.nan)
df.Employed_Days = df.Employed_Days.replace('x',np.nan)
df.Registration_Days = df.Registration_Days.replace('x',np.nan)
df.ID_Days = df.ID_Days.replace('x',np.nan)

df.Age_Days = df.Age_Days.astype('float64')
df.Employed_Days = df.Employed_Days.astype('float64')
df.Registration_Days = df.Registration_Days.astype('float64')
df.ID_Days = df.ID_Days.astype('float64')

In [18]:
#df.Loan_Annuity = df.Loan_Annuity.replace('$',np.nan)
#df.Loan_Annuity = df.Loan_Annuity.astype('float64')
list(df.Loan_Annuity)

['3416.85',
 '1826.55',
 '2788.2',
 '2295.45',
 '3547.35',
 '653.85',
 '3779.55',
 '3097.8',
 '1200.15',
 '1294.65',
 '3375',
 '4397.85',
 '1913.4',
 '3826.35',
 '4666.5',
 '4482.45',
 '2234.25',
 '900',
 '3007.35',
 '2191.95',
 '4156.2',
 '3064.05',
 '4785.3',
 '3407.85',
 '4732.2',
 '4745.25',
 '3468.15',
 '965.7',
 '5336.55',
 '1868.4',
 '8001',
 '2248.65',
 '900',
 '1306.8',
 nan,
 '2615.4',
 '3316.5',
 '675',
 '5325.3',
 '1712.7',
 '2621.7',
 '2572.65',
 '4248',
 nan,
 '3511.35',
 '4464.45',
 '1338.75',
 '4152.6',
 '3165.3',
 '2644.65',
 '1601.1',
 '1539.9',
 '1237.5',
 '4915.8',
 '3113.1',
 '1681.65',
 '1996.2',
 '1377.45',
 '2473.2',
 '2631.6',
 '4779.45',
 '2225.25',
 '1360.8',
 '3039.3',
 '2066.4',
 '2275.2',
 '3616.2',
 '6361.65',
 '1864.35',
 '2848.05',
 '3130.2',
 '1237.5',
 '1800',
 nan,
 '2110.95',
 '1158.75',
 '3686.4',
 '6885',
 '1644.3',
 '1153.35',
 '1970.55',
 '2770.2',
 '2250',
 '3629.25',
 '1511.1',
 '2069.55',
 '1745.55',
 '3794.85',
 '1998.45',
 '1021.05',
 '2291.85',
 '1658.7',
 '2615.4',
 '3233.7',
 '2362.5',
 '3780',
 '2402.1',
 '1833.75',
 '1769.4',
 '3424.95',
 '1813.5',
 '3017.7',
 '4003.2',
 '1467',
 '2677.05',
 '1737',
 '2889.45',
 '1804.05',
 '3593.7',
 '1847.25',
 '2188.8',
 '1012.5',
 '2741.85',
 '2061.9',
 '2067.75',
 '2401.2',
 '2441.25',
 '1758.6',
 '1906.2',
 '2394.9',
 '4355.55',
 '1209.15',
 '2997',
 '539.1',
 '2943',
 '3207.6',
 '724.95',
 '900',
 '3299.85',
 nan,
 '2988.45',
 '1709.55',
 '4032',
 '1830.6',
 '2250',
 '5571.9',
 '2477.25',
 '2174.85',
 '1663.2',
 '3364.2',
 '5839.65',
 '3312.9',
 '2756.25',
 '4859.55',
 '2273.85',
 '2188.8',
 '2700',
 '3620.7',
 '1761.75',
 '1780.2',
 '4617.45',
 '1516.5',
 '2377.35',
 '1128.6',
 '2025',
 '2377.35',
 '790.65',
 '2941.2',
 '4474.8',
 '2834.1',
 '2164.95',
 '3351.15',
 '1951.65',
 '697.95',
 '3283.2',
 '4474.8',
 '667.8',
 '1895.4',
 nan,
 '2393.1',
 '1656.45',
 '2745.45',
 '4612.05',
 '1517.85',
 '3220.2',
 '1707.3',
 '4271.85',
 '1237.5',
 '1828.35',
 '2040.75',
 '560.25',
 '900',
 '1943.1',
 nan,
 '2643.75',
 '3337.65',
 '2201.85',
 '1016.1',
 nan,
 '2072.7',
 '3095.55',
 '2628.45',
 '1874.25',
 '675',
 '2903.4',
 '2364.3',
 '1640.7',
 '2906.55',
 '1658.25',
 '1350',
 '2266.2',
 '1451.25',
 '2413.35',
 '9127.8',
 '844.2',
 '2393.1',
 '5194.8',
 '493.65',
 '3960.45',
 '2519.55',
 nan,
 '2190.6',
 '2250',
 '2454.3',
 '1826.1',
 '3505.95',
 nan,
 '2664',
 '713.25',
 '5441.4',
 '3780',
 '2916.45',
 '3780',
 '1309.5',
 '1822.5',
 '679.5',
 '5194.8',
 '3028.05',
 '4063.5',
 '847.35',
 '7061.85',
 '900',
 '3165.3',
 '2767.95',
 '2867.85',
 '1938.6',
 '1444.5',
 '2664',
 '1223.1',
 '5511.6',
 '2202.75',
 '2771.55',
 '2067.75',
 '2625.75',
 '1782',
 '2505.6',
 '4222.35',
 '1501.65',
 '2041.65',
 '2368.35',
 '1747.35',
 '1910.25',
 '2330.55',
 '2153.25',
 '4041.45',
 '990.9',
 '4500',
 '2423.7',
 '5062.5',
 '3007.35',
 '4707.9',
 '1677.15',
 '5948.55',
 '4041.45',
 '2177.1',
 '2269.8',
 '3868.65',
 '2282.4',
 '2430.45',
 '1415.25',
 '2377.35',
 '2604.6',
 '2773.8',
 '2642.4',
 '1889.1',
 '2673.9',
 '4711.05',
 '1301.4',
 '2377.35',
 '1921.5',
 '2341.8',
 '2446.2',
 '5137.2',
 '1237.5',
 nan,
 '900',
 '2305.35',
 '900',
 '4864.05',
 '1338.75',
 '5397.3',
 '2713.95',
 '4586.85',
 '2700',
 '1957.5',
 '1640.7',
 '3089.7',
 '3260.25',
 '2278.35',
 '2443.05',
 '704.25',
 '1687.5',
 '1516.5',
 '2232.45',
 '3307.5',
 '2631.6',
 '1147.05',
 '1691.1',
 '2664',
 nan,
 '6414.75',
 '2661.3',
 '1475.55',
 '4568.4',
 '782.55',
 '2385',
 '3502.8',
 '5324.85',
 '2653.65',
 '2621.7',
 '2643.3',
 '3161.7',
 '1826.55',
 '2916.45',
 '1918.8',
 '4445.1',
 '1046.25',
 '6269.85',
 '1868.85',
 '4063.5',
 '2130.75',
 '3180.6',
 '3260.25',
 '2859.3',
 '3763.8',
 '2393.1',
 '1192.05',
 '3814.65',
 '1671.3',
 '2493.9',
 '2079.45',
 '5030.55',
 '4022.1',
 '4385.7',
 '2287.8',
 '2629.35',
 '2956.95',
 '5371.65',
 '4698.9',
 '2650.95',
 '1368.45',
 '2087.55',
 '567.9',
 '1125',
 nan,
 '3893.85',
 '1687.5',
 '1138.05',
 '1853.55',
 '1012.5',
 '553.5',
 '3268.8',
 '6187.5',
 '2608.65',
 '1097.1',
 '2128.95',
 '1350',
 '6742.35',
 nan,
 '2889.9',
 '2128.05',
 '1396.35',
 '1559.25',
 '1657.35',
 '2396.25',
 '2501.1',
 '4600.35',
 '1012.5',
 '1722.15',
 '2960.1',
 '2664',
 '1377.45',
 '1564.2',
 '1012.5',
 '1524.15',
 '2459.25',
 '1422',
 '1558.35',
 '1209.15',
 '824.85',
 '4605.75',
 '5154.3',
 '1125',
 '3636.9',
 '2177.1',
 '2514.15',
 '1737',
 '900',
 '2700',
 '1350.45',
 '4371.75',
 nan,
 '2823.3',
 '3376.35',
 '6007.05',
 '3393.45',
 '3640.95',
 '1800',
 '2697.75',
 '1049.85',
 '3007.35',
 '1898.1',
 '6558.75',
 '4672.8',
 '2674.35',
 '1710.45',
 '2243.7',
 '2077.2',
 '4152.6',
 '1291.5',
 '3274.65',
 '3163.05',
 '3823.65',
 '1589.85',
 '900',
 '900',
 '3635.55',
 '1154.7',
 '5419.8',
 '1220.4',
 '2169',
 '3539.25',
 '3302.55',
 '881.55',
 '1938.6',
 '5448.15',
 '2648.7',
 '3205.35',
 '1154.7',
 '4180.5',
 '2987.55',
 '1528.2',
 '3227.4',
 '2857.05',
 '3457.8',
 '2214.9',
 '2177.55',
 '3044.25',
 '2300.85',
 '4297.95',
 '4851.45',
 '5191.65',
 '2664',
 '4149.9',
 '2377.35',
 '677.7',
 '4950',
 '1852.2',
 '1251.45',
 '2690.1',
 '3214.8',
 '5022.9',
 '1378.35',
 '1645.65',
 '3220.2',
 '1777.5',
 '900',
 '3645.9',
 '3324.6',
 '3412.8',
 '1315.8',
 '1216.8',
 '1844.1',
 '3028.05',
 '3277.35',
 '900',
 '2728.35',
 '3152.25',
 '2326.05',
 '5702.85',
 '1047.6',
 '1422',
 '2297.25',
 '900',
 '1797.3',
 '1318.5',
 '2281.05',
 '1683.45',
 '1174.5',
 '1298.7',
 '3993.3',
 '1116.9',
 '675',
 '3297.15',
 '3170.7',
 '675',
 '2407.5',
 '1973.7',
 '2441.25',
 '3104.55',
 '2288.7',
 '2190.6',
 '1299.6',
 '1134.45',
 '4858.65',
 '3664.35',
 '1282.5',
 '900',
 '3569.85',
 '4500',
 '2644.65',
 '1746.9',
 '1928.7',
 '891',
 '3050.55',
 '4500',
 '3243.6',
 '3315.6',
 '2674.35',
 '2444.85',
 '2110.95',
 '5371.2',
 '1326.15',
 '6724.8',
 '1958.4',
 '3359.25',
 '2621.7',
 '3459.6',
 '6865.65',
 '1735.2',
 '1200.6',
 '900',
 '1274.4',
 '2821.95',
 '1707.3',
 '6213.6',
 nan,
 '1687.5',
 '861.3',
 '1320.75',
 '4101.75',
 '1716.75',
 '3674.7',
 '3826.35',
 '1003.95',
 '2480.85',
 '4738.5',
 '2018.25',
 '5039.1',
 '4006.35',
 '1082.7',
 '2297.25',
 '3780',
 '2548.8',
 '4875.3',
 '2377.8',
 '867.15',
 '2377.35',
 '725.4',
 '900',
 '1435.05',
 '2004.75',
 '1660.95',
 '5371.2',
 '3289.5',
 '12376.35',
 '7748.55',
 '3775.05',
 '2263.05',
 '3026.25',
 nan,
 '1237.5',
 '305.1',
 '804.15',
 '2507.4',
 '2353.95',
 '3099.6',
 '2261.25',
 nan,
 '935.1',
 '4036.05',
 '3700.35',
 '896.85',
 '2484.45',
 '3194.55',
 '1941.3',
 '2554.2',
 '3701.7',
 '1656.45',
 '2569.05',
 '3994.65',
 '3780',
 '1451.25',
 '5174.55',
 '4859.55',
 '1912.5',
 '3923.1',
 '3675.15',
 '3459.6',
 '2330.55',
 '3812.4',
 '1503.45',
 '2722.95',
 '2230.65',
 '4264.2',
 '1035.45',
 '2891.7',
 '2829.15',
 '3645.9',
 '6007.05',
 '1726.2',
 '2433.15',
 '2516.4',
 '4693.95',
 '6521.4',
 '1350',
 '4149.9',
 '2326.95',
 '1020.6',
 '1012.5',
 '1341.9',
 '4206.6',
 '4863.15',
 '2475',
 '3302.55',
 '3194.55',
 '2698.2',
 '1228.95',
 '953.1',
 '3593.7',
 '2353.95',
 '1656.45',
 '3326.85',
 '1719.45',
 '2352.6',
 '7300.35',
 '1580.85',
 '3123',
 '1800',
 '3709.35',
 nan,
 '2364.3',
 '1435.05',
 '1335.15',
 '2191.95',
 '1714.95',
 '1419.75',
 '3335.4',
 '490.95',
 '2850.3',
 '3157.65',
 nan,
 '8324.1',
 '675',
 '2797.65',
 '1657.35',
 '3294',
 '1360.8',
 '4078.35',
 '3387.6',
 '6279.75',
 '3348.9',
 '5861.25',
 '3549.15',
 '3582.45',
 '1350',
 '2567.7',
 '1638.45',
 '3312.9',
 '1131.3',
 '3706.65',
 '1237.5',
 '4235.4',
 '2377.35',
 '3745.8',
 '1125',
 '900',
 '1558.35',
 '2298.6',
 '776.7',
 '1237.5',
 '950.85',
 '3656.25',
 '3645.9',
 '1350',
 '3039.75',
 '2986.2',
 '1777.95',
 '2098.8',
 '900',
 '3287.7',
 '6187.5',
 '3328.65',
 '2678.85',
 '1817.1',
 '3447.9',
 '866.25',
 '1475.1',
 nan,
 '3780',
 '3458.7',
 '4921.65',
 '2631.6',
 '2710.35',
 '5700.15',
 '1941.75',
 '2644.65',
 '3556.8',
 '2167.2',
 '4972.95',
 nan,
 '3115.35',
 '482.85',
 '3107.7',
 '4000.5',
 '3163.05',
 '4142.7',
 '1710.45',
 '1012.5',
 '861.3',
 '2745.9',
 '4608.45',
 '12359.25',
 '4407.3',
 '2245.5',
 '4482.45',
 '3769.2',
 nan,
 '2493.9',
 '3725.55',
 '2587.5',
 '2248.65',
 '2772.45',
 '2857.05',
 '2436.3',
 '5154.3',
 '2889.45',
 '3052.8',
 '1868.85',
 '900',
 '787.5',
 '1430.1',
 '6589.35',
 '4169.25',
 '4162.95',
 '2937.6',
 '945',
 '1636.65',
 '1799.1',
 '2755.8',
 '3592.35',
 '3190.5',
 '900',
 '1524.15',
 '921.15',
 '1464.3',
 '2385',
 '1578.6',
 '5224.05',
 '3593.7',
 '2167.2',
 '2967.75',
 '5192.55',
 '2250',
 '1095.3',
 '4158',
 '1114.2',
 '1513.35',
 '4616.55',
 '4540.05',
 '1721.25',
 '1904.85',
 '3946.95',
 nan,
 '1614.6',
 '1162.35',
 '2933.55',
 '5573.7',
 '3100.05',
 '4897.8',
 '3094.2',
 '2708.55',
 '1741.05',
 '2497.05',
 '1067.85',
 '3919.05',
 '2925',
 '2025',
 '4850.1',
 '945.9',
 '1904.4',
 '675',
 '2553.75',
 '8896.95',
 '2472.75',
 '2063.7',
 '3584.7',
 '5216.85',
 '2456.1',
 '1512.9',
 nan,
 '5792.85',
 '3052.8',
 '4474.8',
 '2712.6',
 '2621.7',
 '1726.65',
 '3960.45',
 '3780',
 '2700',
 '2729.7',
 '1350',
 '900',
 '3826.35',
 '2596.05',
 '1616.4',
 '2454.3',
 '3391.2',
 '4179.15',
 '3117.15',
 '1350',
 '3448.35',
 '2670.3',
 '1694.7',
 '2381.4',
 '3845.25',
 '1644.75',
 '2400.3',
 '1306.8',
 '1350',
 '1494',
 '1712.7',
 '2039.85',
 '1645.65',
 '4184.1',
 '1896.3',
 '1623.6',
 '2997',
 '1242.9',
 '2097',
 nan,
 '2858.85',
 '2631.6',
 '2138.4',
 '1384.2',
 '3871.8',
 '2496.15',
 '1475.1',
 '1125',
 '3038.4',
 nan,
 '3552.3',
 '2440.35',
 '1938.6',
 '2792.25',
 '1719',
 '5234.85',
 '678.6',
 '2986.2',
 '2250',
 '2549.25',
 '2811.15',
 '5312.25',
 '2207.25',
 '1691.1',
 '3088.8',
 '2422.35',
 '2854.8',
 '1515.15',
 '1081.35',
 '4624.2',
 '2097',
 '2550.6',
 '3206.7',
 '3324.15',
 '1237.5',
 '4075.2',
 '6178.95',
 '1478.7',
 '1944.9',
 '900',
 '1800',
 nan,
 '2188.8',
 '3962.7',
 '3552.3',
 '4408.2',
 '3152.25',
 '4430.25',
 '1604.7',
 '3446.55',
 '645.75',
 '1526.85',
 '748.8',
 '903.15',
 '766.8',
 '4169.25',
 '3167.1',
 '2340',
 '2553.75',
 '3733.65',
 '3028.05',
 '9776.25',
 '4641.75',
 '2371.95',
 '2029.5',
 '2144.7',
 '2650.95',
 '5688',
 '2840.85',
 '1419.3',
 '3035.7',
 '2201.85',
 '2533.05',
 '2199.6',
 '1475.1',
 '1562.85',
 '1967.4',
 '3118.95',
 '1338.75',
 '2436.3',
 '2855.25',
 '1970.55',
 '3656.7',
 '2827.8',
 '821.25',
 '2446.2',
 '1048.95',
 '2243.7',
 '1769.4',
 '4572',
 '3406.95',
 '4573.8',
 '1309.05',
 '4397.85',
 '1742.4',
 '4769.1',
 '900',
 '1912.95',
 '4608.45',
 '3551.85',
 '675',
 '1396.8',
 nan,
 '1791.9',
 '1237.5',
 '3459.6',
 '3375',
 '1161.9',
 '2861.1',
 '2488.5',
 '2007.9',
 '2493.9',
 '3813.3',
 '3645.9',
 '1995.3',
 '2247.75',
 '675',
 '3354.3',
 '3007.35',
 '2167.2',
 '2394.9',
 '3883.95',
 '3620.25',
 '3670.2',
 '2621.7',
 '4959.45',
 '2997',
 '6720.3',
 '3375',
 '4500',
 '2710.8',
 '3361.95',
 '900',
 '3737.7',
 '3047.85',
 '1026.45',
 '1125',
 '4558.5',
 '1350',
 '1939.95',
 '3411',
 '5436.45',
 '1791.45',
 '889.65',
 '1658.25',
 '3458.7',
 '1084.95',
 '1005.3',
 '2287.8',
 '3828.6',
 '1156.95',
 '1660.05',
 '1350',
 '900',
 '3717.9',
 '2387.25',
 '3446.55',
 '1775.25',
 '3260.25',
 ...]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121856 entries, 0 to 121855
Data columns (total 40 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   ID                          121856 non-null  int64
 1   Client_Income               118234 non-null  float64
 2   Car_Owned                   118275 non-null  float64
 3   Bike_Owned                  118232 non-null  float64
 4   Active_Loan                 118221 non-null  float64
 5   House_Own                   118195 non-null  float64
 6   Child_Count                 118218 non-null  float64
 7   Credit_Amount               118219 non-null  float64
 8   Loan_Annuity                117044 non-null  object
 9   Accompany_Client            120110 non-null  object
 10  Client_Income_Type          118155 non-null  object
 11  Client_Education            118211 non-null  object
 12  Client_Marital_Status       118383 non-null  object
 13  Client_Gender               119443 non-null  object
 14  Loan_Contract_Type          118205 non-null  object
 15  Client_Housing_Type         118169 non-null  object
 16  Population_Region_Relative  116999 non-null  object
 17  Age_Days                    118239 non-null  float64
 18  Employed_Days               118190 non-null  float64
 19  Registration_Days           118225 non-null  float64
 20  ID_Days                     115871 non-null  float64
 21  Own_House_Age               41761 non-null   float64
 22  Mobile_Tag                  121856 non-null  int64
 23  Homephone_Tag               121856 non-null  int64
 24  Workphone_Working           121856 non-null  int64
 25  Client_Occupation           80421 non-null   object
 26  Client_Family_Members       119446 non-null  float64
 27  Cleint_City_Rating          119447 non-null  float64
 28  Application_Process_Day     119428 non-null  float64
 29  Application_Process_Hour    118193 non-null  float64
 30  Client_Permanent_Match_Tag  121856 non-null  object
 31  Client_Contact_Work_Tag     121856 non-null  object
 32  Type_Organization           118247 non-null  object
 33  Score_Source_1              53021 non-null   float64
 34  Score_Source_2              116170 non-null  float64
 35  Score_Source_3              94935 non-null   object
 36  Social_Circle_Default       59928 non-null   float64
 37  Phone_Change                118192 non-null  float64
 38  Credit_Bureau               103316 non-null  float64
 39  Default                     121856 non-null  int64
dtypes: float64(21), int64(5), object(14)
memory usage: 37.2+ MB

In [ ]:
!pip install woe

Collecting woe
  Downloading https://files.pythonhosted.org/packages/f5/32/ba4d592dfef45338ee04ca90c37b4f3aa345bdeafcad4dcbf654ad0b14c2/woe-0.1.4-py3-none-any.whl
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.7/dist-packages (from woe) (1.19.5)
Requirement already satisfied: matplotlib>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from woe) (3.2.2)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.7/dist-packages (from woe) (1.4.1)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.7/dist-packages (from woe) (1.1.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->woe) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->woe) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->woe) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->woe) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->woe) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib>=2.0.0->woe) (1.15.0)
Installing collected packages: woe
Successfully installed woe-0.1.4

In [ ]:
import woe.feature_process as fp
import woe.eval as eval
import copy

In [ ]:
#%%woe binning, iv and transform
#data_woe=data #woe value used to store all data
data = copy.deepcopy(df)
data_woe = copy.deepcopy(df)
civ_list=[]
n_positive=sum (data['Default'])
n_negtive=len(data)-n_positive
for column in list(data.columns[1:]):
  if data[column].dtypes == 'object':
    civ=fp.proc_woe_discrete(data, column, n_positive, n_negtive, 0.05*len(data), alpha=0.05)
  else:
    civ=fp.proc_woe_continuous(data, column, n_positive, n_negtive, 0.05*len(data), alpha=0.05)
    civ_list.append(civ)
    data_woe[column]=fp.woe_trans(data[column], civ)
civ_df=eval.eval_feature_detail(civ_list, "output_feature_detail_0315.csv")
#Delete the iv value is too small
#iv_thre=0.002
iv=civ_df[["var_name", "iv"]].drop_duplicates()
x_columns=iv.var_name[(iv.iv<0.51)&(iv.iv>0.002)]

The core functions are mainly feature_process.proc_woe_discrete () and feature_process.proc_woe_continuous (), which are used to calculate the woe of continuous and discrete variables, respectively. They have the same input form:

In [ ]:
proc_woe_discrete (df, var, global_bt, global_gt, min_sample, alpha=0.01)
proc_woe_continuous (df, var, global_bt, global_gt, min_sample, alpha=0.01)

(9845, 112011)

df:dataframe, to calculate woe's data, it must contain the "target" variable, and the value of the variable is {0, 1}

var:variable name to calculate woe

global_bt:The global variable bad total. Number of positive samples of df

global_gt:global variable good total. Number of negative samples for df

min_sample:specify the minimum sample size in each bin,Generally set to 5%of the total sample.

alpha:a standard used to automatically calculate binning,The default is 0.01. If iv_division>iv_ does not divide * (1 + alpha) then divide.